<li id="comment-<%= comment._id %>">
        <p>
            <% if (locals.user && locals.user.id == comment.user.id){ %>
            
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
            <% } %>
            <%= comment.content %>
            <br>
            <small>
                <%= comment.user.name %>
            </small>

            <!-- here we are displaying the (likes) of the (comment), if the (user) is logged in:
            => then we show the link to toggle likes:
            => else just show  the count of the (likes): -->

            <small>

                <!-- if  (user) logged in that:we have to gave him the (likes) toggle-button or link we can say through they can (like) the (comment): -->
    
                <% if(locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= comment.likes.length %>"  href="/likes/toggle/?id= <%= comment._id %>&type = Comment">
                        <%= comment.likes.length %> Likes
                    </a>
    
                    <!-- if its logged-out:then we will only gave him the (counts) of the (like) -->
                <% }else{ %>
                    
                    <%= comment.likes.length %> Likes
    
                <% } %>
    
            </small>


        </p>    

</li>